<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fabricadeprogramador.fdpapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".calculo.CalcActivity"
            android:label="@string/app_name" >

        </activity>
        <activity android:name=".calculo.ResultadoActivity">


        </activity>

        <activity android:name=".agenda.AgendaActivity">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>

        </activity>

        <activity android:name=".agenda.AgendaListaActivity"/>

        <activity android:name="com.android.camera.CropImage" />

    </application>

</manifest>
